{% extends "template_base.html" %}

{% block contenu %}
<div class="container">
    <div class="text-center">
        <h1>{{ article.titre }}</h1>
    </div>
    <div class="row">
        <div class="col-lg-6 mt-5">
            <img width="500px" src="{{ article.image.url }}" alt="{{ article.titre }}">
        </div>
        <div class="col-lg-6 mt-5">
            <p>{{ article.contenu }}</p>
            <span>{{ article.date_publication }}</span>
        </div>
    </div>
</div>
{% endblock %}

<!-- https://pixabay.com/fr/photos/montagnes-des-champs-prairie-5206224/-->